<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newtyf.cnp_patients_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cnp_patients_app">
        <activity
            android:name=".views.RecipeCreateActivity"
            android:exported="false" />
        <activity
            android:name=".views.ModalSeleccionarPacienteActivity"
            android:exported="false" />
        <activity
            android:name=".views.ModalBuscarAlimentoActivity"
            android:exported="false" />
        <activity
            android:name=".views.DietGeneratorActivity"
            android:exported="false" />
        <activity
            android:name=".views.LayoutPaso3DiagnosticoActivity"
            android:exported="false" />
        <activity
            android:name=".views.LayoutPaso2MedidasActivity"
            android:exported="false" />
        <activity
            android:name=".views.AgendaActivity"
            android:exported="false" />
        <activity
            android:name=".views.ConsultationActivity"
            android:exported="false" />
        <activity
            android:name=".views.DialogSuccessPatientActivity"
            android:exported="false" />
        <activity
            android:name=".views.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.WelcomeActivity"
            android:exported="false" />
        <activity
            android:name=".views.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".views.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".views.DashboardActivity"
            android:exported="false" />
        <activity
            android:name=".views.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".views.PatientListActivity"
            android:exported="false" />
        <activity
            android:name=".views.PatientCreateActivity"
            android:exported="false" />
    </application>

</manifest>