<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.newtyf.cnp_patients_app">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Cnp_patients_app">

        <activity
            android:name=".presentacion.auth.ActivitySplash"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".presentacion.auth.ActivityBienvenida" />
        <activity android:name=".presentacion.auth.ActivityLogin" />
        <activity android:name=".presentacion.auth.ActivityRegistro" />

        <activity android:name=".presentacion.dashboard.ActivityPanelPrincipal" />

        <activity android:name=".presentacion.pacientes.ActivityListaPacientes" />
        <activity android:name=".presentacion.pacientes.ActivityCrearPaciente" />
        <activity android:name=".presentacion.pacientes.ActivityDetallePaciente" />

        <activity android:name=".presentacion.consultations.ActivityListaConsultas" />
        <activity android:name=".presentacion.consultations.ActivityAgenda" />
        <activity android:name=".presentacion.consultations.ActivityPasosConsulta" />

        <activity android:name=".presentacion.diet.ActivityGeneradorDieta" />
        <activity android:name=".presentacion.diet.ActivityCrearReceta" />

        <activity android:name=".presentacion.profile.ActivityPerfil" android:exported="false" />
        <activity android:name=".presentacion.profile.ActivityEditarPersonal" android:exported="false" />
        <activity android:name=".presentacion.profile.ActivityEditarSeguridad" android:exported="false" />
        <activity android:name=".presentacion.profile.ActivityEditarDireccion" android:exported="false" />

    </application>

</manifest>